{% extends 'base.html.twig' %}

{% block title %}Symfony 5.3.9{% endblock %}

{% block body %}

<div class="page-wrapper">
    <h1>{{ page_heading }}</h1>
    {% if productName == 'Unset' %}
        <p class="mt-3 text-center">No product was chosen to edit.</p>
    {% else %}
        <form class="mt-5" method="post" action="{{ url('saveproduct') }}" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label for="productname">Name:</label>
                <input type="text" class="form-control" name="productname" id="productname" value="{{ productName }}" placeholder="{{ productName }}">
            </div>

            <div class="form-group mb-3">
                <label for="productdescription">Description:</label>
                <textarea type="password" class="form-control" name="productdescription" id="productdescription" placeholder="{{ productDescription }}">{{ productDescription }}</textarea>
            </div>

            <div class="form-group mb-3">
                <label for="productprice">Price:</label>
                <input type="text" class="form-control" name="productprice" id="productprice" value="{{ productPrice }}" placeholder="{{ productPrice }}">
            </div>
        
            <div class="form-group mb-3">
                <label for="productimage">Image:</label><br>
                <div class="product-image">
                    {% if productImage == null %}
                        <span class="centered no-image">No image</span>
                    {% else %}
                        <img src="../../uploads/{{ productImage }}" width="120px" height="120px" />
                    {% endif %}                
                </div>
                <input type="file" name="productimage" placeholder="Product image" accept="image/*" />
            </div>

            <div class="form-group mt-3 text-center fullandcentered">
                <input type="hidden" name="productid" value="{{ productId }}" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    {% endif %}

    <p class="mt-3 text-center">Back to <a href={{ url('products') }}>products</a>.</p>
</div>
{% endblock %}
