{% extends 'base.html.twig' %}

{% block title %}Symfony 5.3.9{% endblock %}

{% block body %}

<div class="page-wrapper mt-5 text-center">
    <h1>{{ page_heading }}</h1>

    <p class="mt-3">View <a href="products">products</a>.</p>

</div>
{% endblock %}
