{% extends 'base.html.twig' %}

{% block title %}Products Page{% endblock %}

{% block body %}

<div class="page-wrapper">
    <h1>{{ page_heading }}</h1>

    <table class="mt-3 table-striped table-dark product-table">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th class="centered">Edit</th>
            <th class="centered">Delete</th>
        </tr>

        {% for product in products %}
            <tr>
                <td>
                    {% if product.image == null %}
                        No image
                    {% else %}
                        <img src="uploads/{{ product.image }}" width="120px" height="120px" />
                    {% endif %}
                </td>
                <td><a href="{{ path('editproduct', {'id': product.id}) }}">{{ product.name }}</a></td>
                <td>{{ product.description }}</td>
                <td><b>£{{ product.price }}</b></td>
                <td class="centered emoji">
                    <a href="{{ path('editproduct', {'id': product.id}) }}">✎</a>
                </td>
                <td class="centered emoji">
                    <a href="{{ path('deleteproduct', {'id': product.id}) }}">✘</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="col-8 offset-2">
        <form class="mt-5" method="post" action="{{ url('saveproduct') }}" enctype="multipart/form-data">
            <h4>Add a new product</h4>

            <div class="form-group mb-3">
                <label for="productname">Name:</label>
                <input type="text" class="form-control" name="productname" id="productname" placeholder="Product name">
            </div>

            <div class="form-group mb-3">
                <label for="productdescription">Description:</label>
                <textarea type="password" class="form-control" name="productdescription" id="productdescription" placeholder="Product description"></textarea>
            </div>

            <div class="form-group mb-3">
                <label for="productprice">Price:</label>
                <input type="text" class="form-control" name="productprice" id="productprice" placeholder="Product price">
            </div>
            
            <div class="form-group mb-3">
                <label for="productimage">Image:</label><br>
                <input type="file" name="productimage" placeholder="Product image" accept="image/*" />
            </div>

            <p class="mt-3 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </p>
        </form>
    </div>

    <p class="mt-3 text-center">Back to <a href="{{ url('home') }}">landing page</a>.</p>
</div>
{% endblock %}
