<template>
    <div>
        <p>[[ this.$store.state.username ]]</p>
        <div v-if="isChecked" style="text-align:right">
            <p>[[ localmessage ]]</p>
        </div>
    </div>
</template>
<script>
import store from '../store';
import Vue from 'vue';
import Vuex from 'vuex';

Vue.use(Vuex);

export default {
  name: "BaseComponent",
  props: {
      message: String
  },
  store,
  data: function () {
      return {
        isChecked: true,
        localmessage: "This is a message"
      }
  },
  methods: {
  },
  created() {
        console.log( this.$props.message );
      console.log( "Message: "+this.localmessage );
  },
  mounted() {
      setTimeout( () => {
        console.log( store.state.username );
        console.log( this.$props.message );
      }, 2000 );
  },
    computed: {
        /*...mapGetters([
            'someprop'
        ]),*/
        someProperty() {
        }
    }
}
</script>

<style>
</style>