@import '~bootstrap';

:root {
    --primaryblue: #007bff;
    --border: 1px solid var(--primaryblue);
    --radius: 15px
}

html, body { background-color: #000; color: #fff; }
input[type='text'] { background-color: #333; color: #fff; border: var(--border); border-radius: var(--radius); }
textarea.form-control { background-color: #333; color: #fff; border: var(--border); border-radius: var(--radius); }
form { background-color: #0f0f0f; padding: 30px; border-radius: var(--radius); border: var(--border); }
form>h4 { color: var(--primaryblue); text-align: center; }
.page-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; border-radius: var(--radius); border: var(--border); padding: 30px; }
.page-wrapper code { background: #F5F5F5; padding: 2px 6px; }
a, a:hover { text-decoration: none; }
button { border: var(--border) !important; border: var(--border); border-radius: var(--radius) !important; }
ul { list-style: none; }
.product-table { width: 100% !important; border: var(--border); border-radius: var(--radius); }
.product-table tr { border: var(--border); }
tr, th, td { padding: 13px 18px !important; }
.centered { text-align: center !important; }
.emoji { font-size: 1.5em; }
.no-image { display: block; height: 120px; width: 120px; min-width: 120px; min-height: 120px; border: var(--border); border-radius: var(--radius); background-color: #000; }
.product-image { float: left; clear: none; width: 130px; height: 130px; margin-right:30px; }
.fullandcentered { clear: both; width: 100%; }